<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Braz Music Store</title>
    <link href="/stylesheets/stylehome.css" rel="stylesheet">
</head>

<body>
    <%- include('menu', locals) %>


    <main>
        <h2>Bem-vindo à nossa loja!</h2>
        <p>Encontre os melhores instrumentos musicais aqui.</p>

        <section>
            <h3>Sobre a Loja</h3>
            <p>Nossa loja busca oferecer os melhores produtos com preços acessíveis com o objetivo de trazer a arte para
                nossos compradores.</p>
        </section>

        <section>
            <h3>Qualidade Garantida</h3>
            <p>Parcerias e produtos somente com marcas confiáveis.</p>
        </section>

        <section>
            <h3>Compra Segura</h3>
            <p>O consumidor tem o direito de devolver o produto desde que esteja dentro de uma semana após o
                recebimento.
            </p>
        </section>

        <section class="persuasao">
            <h4>O que andam dizendo sobre nós?</h4>
            <p>``Alta qualidade no atendimento e na criação dos produtos. Os produtos chegaram no prazo certo.`` -
                Arthur
                Gross</p>
            <p>``Preço justo e produtos de qualidade. Incrível como encontrei exatamente o que eu queria!`` - Yuri
                Fabricio
            </p>
        </section>
    </main>
    <footer>
        <p>© Feito por Arthur de Oliveira Heger e Pedro Henrique Kohls Mendes</p>
    </footer>

</body>

</html>